# This is a CODEOWNERS file that defines individuals or teams responsible for code in this repository.
# The last matching pattern has the most precedence.

# Default owner for the entire repository
*       @Nsfr750

# Specific ownership
/tests/     @Nsfr750
/script/    @Nsfr750
/lang/      @Nsfr750
/config/    @Nsfr750
/assets/    @Nsfr750
/README.md  @Nsfr750
/CHANGELOG.md @Nsfr750
/CONTRIBUTING.md @Nsfr750
/PREREQUISITES.md @Nsfr750
/LICENSE @Nsfr750
